{% extends "base.html" %}
{% block content %}
  <h2> Task Details </h2>
  {% for message in get_flashed_messages() %}
     <div class = "flash"> {{ message}} </div>
  {% endfor %} 
  <form action="{{url_for('task_blue.task') }}" method = "post" >
     {{ form.hidden_tag() }}
     {{ form.name.label }}
     {{form.name}}
     <br>
     {{ form.client.label }}
     {{ form.client }}
     <br>
     {{ form.capabilities.label }}
     {{ form.capabilities }}
     <br>
     {{ form.duration.label }}
     {{ form.duration }}
     <br>
     {{ form.submit }}
  </form>
{% endblock %}

